---
layout: base.njk
title: My Awesome Site
---
<h1>Essays</h1>
<ul class="essay-list">
{%- for post in collections.posts | reverse -%}
  <li>
    <a href="{{ post.url }}"><strong>{{ post.data.title }}</strong></a>
    {% if post.data.description %}
      <p class="essay-description">{{ post.data.description }}</p>
    {% endif %}
  </li>
{%- endfor -%}
</ul>

<h1>Interesting Links</h1>
<div>
{%- for link in collections.links | reverse -%}
  <div class="link-post">
    <a href="{{ link.data.url }}" target="_blank"><strong>{{ link.data.title }}</strong></a>
    {{ link.content | safe }}
  </div>
{%- endfor -%}
</div>